
<!DOCTYPE html>
<html>
  <head>
    <title>Nairobi Hair Salon</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel='stylesheet' href='/css/App.css'>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse" id="nav">
        <h1 class="navbar-text text-center">Zuri Hair Salon</h1>
        <div class="text-center">
        <ul class="nav navbar-nav">
          <li><a href="/" class="nav-links">HOME</a></li>
          <li><a href="/stylists" class="nav-links">OUR STYLISTS</a></li>
          <li><a href="/clients" class="nav-links">CLIENTS</a></li>
          <li><a href="/login" class="nav-links">SIGN IN</a></li>
        </ul>
        </div>
      </nav>
      #parse( $template )

      <div class="row" id="footer">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <h3 class="text-center">
                  Subscribe To Our Newsletter:
              </h3>
              <br>
              <form method="post" action="/">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email" required>
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-default" id="newsletter">Subscribe</button>
                  </div>
              </form>
          </div>
          <div class="col-sm-4"></div>
      </div>

      <div class="row" id="final-footer">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
              <h5 style="float:left;">
                  Zuri Hair Salon Limited - 2017
              </h5>
          </div>
          <div class="col-sm-7">
              <p class="social">
                  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>&#160;&#160;&#160;&#160;
                  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>&#160;&#160;&#160;&#160;
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>&#160;&#160;&#160;&#160;
                  <i class="fa fa-snapchat fa-2x" aria-hidden="true"></i>&#160;&#160;&#160;&#160;
              </p>
          </div>
          <div class="col-sm-1"></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/App.js"></script>
  </body>
</html>